{% extends 'layouts/main.html' %}
{% block title %}DHCP Server{% endblock %}
{% block content %}
<div class="container">
  <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createDHCPServer">
    Create DHCP Server
  </button>
  <ul class="nav nav-tabs">
    {% for shared_network_name in shared_network_names %}
    <li class="nav-item">
      <a class="nav-link {% if shared_network_name == selected_dhcp %}active{% endif %}"
        href="/dhcp-service/{{ shared_network_name }}">{{ shared_network_name }}</a>
    </li>
    {% endfor %}
  </ul>
  

  <div class="tab-content">
    {% for shared_network_name in shared_network_names %}
    <div class="tab-pane fade {% if shared_network_name == selected_dhcp %}show active{% endif %}" id="{{ shared_network_name }}">
      {% for key, value in dhcp_data.items() %}
      <div class="mb-2 row">
        {% if key == 'specific_key' %}
        <label for="{{ key }}" class="col-sm-2 col-form-label">{{ key|title|replace('_', ' ') }}:</label>
        <div class="col-sm-2">
          <input type="checkbox" id="{{ key }}" name="{{ key }}" {% if value %}checked{% endif %}>
          <label for="{{ key }}">Toggle</label>
        </div>
        {% else %}
        <label for="{{ key }}" class="col-sm-2 col-form-label">{{ key|title|replace('_', ' ') }}:</label>
        <div class="col-sm-2">
          <input type="text" readonly class="form-control-plaintext" id="{{ key }}" value="{{ value }}">
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#editDHCPServer">
        Edit
      </button>
    </div>
    {% endfor %}
  </div>


<!-- Create Modal -->
<div class="modal fade" id="createDHCPServer" tabindex="-1" aria-labelledby="createDHCPServer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createDHCPServer">Create DHCP Server</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/dhcp-service/create" method="post">
          <div class="mb-3">
            <label for="sharednetworkname" class="form-label">Shared Network Name</label>
            <input type="text" class="form-control" id="sharednetworkname" name="sharednetworkname">
          </div>
          <div class="mb-3">
            <label for="subnet" class="form-label">Subnet</label>
            <input type="text" class="form-control" id="subnet" name="subnet">
          </div>
          <div class="mb-3">
            <label for="defaultrouter" class="form-label">Default Router</label>
            <input type="text" class="form-control" id="defaultrouter" name="defaultrouter">
          </div>
          <div class="mb-3">
            <label for="nameserver" class="form-label">Name Server</label>
            <input type="text" class="form-control" id="nameserver" name="nameserver">
          </div>
          <div class="mb-3">
            <label for="domainname" class="form-label">Domain Name</label>
            <input type="text" class="form-control" id="domainname" name="domainname">
          </div>
          <div class="mb-3">
            <label for="lease" class="form-label">Lease</label>
            <input type="text" class="form-control" id="lease" name="lease">
          </div>
          <div class="mb-3">
            <label for="rangestart" class="form-label">Range Start</label>
            <input type="text" class="form-control" id="rangestart" name="rangestart">
          </div>
          <div class="mb-3">
            <label for="rangestop" class="form-label">Range Stop</label>
            <input type="text" class="form-control" id="rangestop" name="rangestop">
          </div>
          <div class="mb-3">
            <label for="subnetid" class="form-label">Subnet ID</label>
            <input type="text" class="form-control" id="subnetid" name="subnetid">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editDHCPServer" tabindex="-1" aria-labelledby="editDHCPServer" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDHCPServer">Edit DHCP Server ({{ selected_dhcp }})</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/dhcp-service/update" method="post">
          <div class="mb-3">
            <label for="sharednetworkname" class="form-label">Shared Network Name</label>
            <input type="text" class="form-control" id="sharednetworkname" name="sharednetworkname" value="{{ selected_dhcp }}">
          </div>
          <div class="mb-3">
            <label for="subnet" class="form-label">Subnet</label>
            <input type="text" class="form-control" id="subnet" name="subnet" value="{{ dhcp_data.subnet }}">
          </div>
          <div class="mb-3">
            <label for="defaultrouter" class="form-label">Default Router</label>
            <input type="text" class="form-control" id="defaultrouter" name="defaultrouter" value="{{ dhcp_data.default_router }}">
          </div>
          <div class="mb-3">
            <label for="nameserver" class="form-label">Name Server</label>
            <input type="text" class="form-control" id="nameserver" name="nameserver" value="{{ dhcp_data.name_server }}">
          </div>
          <div class="mb-3">
            <label for="domainname" class="form-label">Domain Name</label>
            <input type="text" class="form-control" id="domainname" name="domainname" value="{{ dhcp_data.domain_name }}">
          </div>
          <div class="mb-3">
            <label for="lease" class="form-label">Lease</label>
            <input type="text" class="form-control" id="lease" name="lease" value="{{ dhcp_data.lease }}">
          </div>
          <div class="mb-3">
            <label for="rangestart" class="form-label">Range Start</label>
            <input type="text" class="form-control" id="rangestart" name="rangestart" value="{{ dhcp_data.start_range }}">
          </div>
          <div class="mb-3">
            <label for="rangestop" class="form-label">Range Stop</label>
            <input type="text" class="form-control" id="rangestop" name="rangestop" value="{{ dhcp_data.stop_range }}">
          </div>
          <div class="mb-3">
            <label for="subnetid" class="form-label">Subnet ID</label>
            <input type="text" class="form-control" id="subnetid" name="subnetid" value="{{ dhcp_data.subnet_id }}">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{%endblock%}