{% extends 'base.html' %}
{% block header %}Interfaces{% endblock %}
{% block title %}Interfaces{% endblock %}
{% set active = 'interfaces' %}

{% block content %}
<div class="bg-gray-800 p-6 rounded-xl shadow space-y-6">
  {% include 'interfaces/_toolbar.html' %}
  {% include 'interfaces/_table.html' %}
</div>

{% include 'interfaces/_modals.html' %}
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/interfaces/index.js') }}"></script>
{% endblock %}
